.container {
  width: 450px;
  height: 80vh;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(60, 56, 56, 0.937);
}

.upper-deck {
  position: relative;
  height: 50%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.weather-info {
  position: relative;
  z-index: 1;
  top: 40%;
}

.city-name {
  font-size: 36px;
}

.weather-info .tempreature {
  font-size: 50px;
}

.lower-deck {
  padding: 20px;
}

.more-info {
  padding: 5px;
}

.icon img {
  height: 40px;
  width: 40px;
}

.label {
  font-size: 26px;
  font-weight: 400;
}

.weather-parameter {
  padding: 5px;
  height: 115px;
  font-size: 18px;
}

.weather-parameter-info {
}


.right {
  text-align: center;
  margin-left: 10px;
}

.weather-parameter-label {
  margin-top: 5px;
}

.search {
  margin-bottom: 20px;
  text-align: center;

}

.search input {
  background-color: #afaeae;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 16px;
  color: black;
  font-size: 20px;
  text-align: center;
  width: 400px;
}
